body{
  font-family: 'Raleway', sans-serif;
}
html,body, .container-fluid, .sidebar2,.main-content{
  height:100%;
}
.sidebar2 {
    background-color: #1a1f27;
    padding: 0px !important;
    box-shadow: 2px 2px 5px #262a35;
    z-index: 1000;
    height: 100%;
    position: fixed;

}
.logo {
    min-height:200px;
    color:#afb1b5;
}
.logo>img {
    margin-top: 30px;
    padding: 1px;
    border: 3px solid #F17153;
    border-radius: 100%;
    background-color: #fff;
}
.btn.Add-friend
{
  background-color:#F17153;
<!--#e65e50-->
  border: 1px solid #50e6df;
  color:#eee;
}
.btn.Add-friend:hover,.btn.Add-friend:active,.btn.Add-friend:active:focus,.btn.Add-friend:active:hover,.btn.Add-friend:visited,.btn.Add-friend:focus
{
  background-color:#F17153;
  border: 0.5px solid transparent;
  color:white;
  outline:none;
  font-weight:600;
}
.coins
{
  display:inline-block;
  font-size:20px;
font-family:'"Helvetica Neue",Helvetica,Arial,sans-serif';
}
.list {
    color: #eee;
    list-style: none;
    padding-left: 0px;
}
li:nth-child(odd) {
    background-color:#13171d;
}
li>i {margin-right:15px;
}
.list> li {
    padding: 15px 0px 15px 40px;
    font-size: 16px;
    font-weight:lighter;
}
.list>li:hover {

    color: white;
    transition: padding-left 0.2s linear;
    padding-left: 60px;

}
.main-content{ 
    color:#fff; 
    text-align:center;
}
