doctype html
html
  head
    title Eventop - Plataforma de Shows
    link(rel='shortcut icon', href='/images/top.png')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')  


block content
.row
  // uncomment code for absolute positioning tweek see top comment in css
  // <div class="absolute-wrapper"> </div>
  // Menu
  .side-menu
    nav.navbar.navbar-default(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        .brand-wrapper
          // Hamburger
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // Brand
          .brand-name-wrapper
            a.navbar-brand(href='#')
              | Brand
          // Search
          a#search-trigger.btn.btn-default(data-toggle='collapse', href='#search')
            span.glyphicon.glyphicon-search
          // Search body
          #search.panel-collapse.collapse
            .panel-body
              form.navbar-form(role='search')
                .form-group
                  input.form-control(type='text', placeholder='Search')
                button.btn.btn-default(type='submit')
                  span.glyphicon.glyphicon-ok
      // Main Menu
      .side-menu-container(style='width:100%; margin-top:10%;')
        ul.nav.navbar-nav(style='width:100%;')
          li
            a(href='#')
              span.glyphicon.glyphicon-home
              |  Página Inicial
          li
            a(href='#')
              span.glyphicon.glyphicon-music
              |  Meus shows
          li
            a(href='#')
              span.glyphicon.glyphicon-plus
              |  Publicar novo evento
          li
            a(href='#')
              span.glyphicon.glyphicon-stats
              |  Estatísticas
          li
            a(href='#')
              span.glyphicon.glyphicon-undo
              |  Logout
      // /.navbar-collapse
      // Main Content
  .container-fluid
    .side-body
      h1  Bem vindo a página do Administrador!   
        h2 Shows que estou cadastrado:
          each show in shows
            each showusr in user_shows
              if (show._id == showusr)
                p #{ show.name }
                



      p #{users.length}    
      each user in users
        p #{user.name}
      .graph
        script.
          window.onload = function () {
          var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light1", // "light1", "light2", "dark1", "dark2"

            title:{
              text: "Usuários cadastrados"
            },

            axisY: {
              title: "Reserves(MMbbl)"
            },

            data: [{
              type: "doughnut",
              startAngle: 60,
              innerRadius: 60,
              indexLabelFontSize: 17,
              indexLabel: "{label} - #percent%",
              toolTipContent: "<b>{label}:</b> {y} (#percent%)",
              dataPoints: [
                { y: 67, label: "Inbox" },
                { y: 28, label: "Archives" },
                { y: 10, label: "Labels" },
                { y: 7, label: "Drafts"},
                { y: 15, label: "Trash"},
                { y: 6, label: "Spam"}
              ]
            }]
          });
          chart.render();
          }
        #chartContainer(style='height: 100%; width: 100%;')
        script(src='https://canvasjs.com/assets/script/canvasjs.min.js')
      
      p ai meu deus