extends layout

block content
  .back_img
    //img(src='images/back.jpeg', alt='')
  .home-page
    #main
      .inner
        // Boxes
        .thumbnails
          each show in shows
            .box
              a.image.fit(href="/show/#{show.id}") 
                img(src='/images/pic05.jpg', alt='pic')
              .inner
                h3 #{show.name}
                p
                  | #{show.description}
                a.button.fit(href="/show/#{show.id}") Veja mais



