extends layout

block content
  .home-page
    h1.home Lista de eventos
    
    #main
      .inner
        // Boxes
        .thumbnails
          each show in shows
            .box
              a.image.fit(href="/show/#{show.id}") 
                img(src='images/pic05.jpg', alt='')
              .inner
                h3 #{show.name}
                p
                  | #{show.description}
                a.button.fit(href="/show/#{show.id}") Veja Mais



