extends layout

block content
  .home-page
    h1 Lista de shows
    .container
      .row
        .col-md-2
        .col-md-8
          ul
            each show in shows
              div.main-div-show
                a.link-shows(href="/show/#{show.id}") #{show.name}
                p.description-show #{show.description}
        .col-md-2



