doctype html
html
  head
    title Eventop - Plataforma de Shows
    link(rel='shortcut icon', href='/images/top.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    


  body
    nav.navbar.navbar-expand-md.navbar-custom.navbar-color.navbar-fixed-top
      a.navbar-brand(href='/') EVENTOP
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.margin-left
            a.nav-link(href='/') Eventos
          form.navbar-form(role='form', action="/show/search/",method="post")
            .input-group
              input.form-control(type='text', placeholder='Buscar evento', name='search')
              .input-group-btn
                button.btn.btn-default(type='submit')
                  i.fas.fa-search
        ul.navbar-nav.navbar-right
          li.nav-item
            a.nav-link(href='/newevent') Publicar evento
          if (session.passport != undefined)
            if ( session.passport.user == undefined )
              li.nav-item
                a.nav-link(href='/newuser') Criar conta
              li.nav-item
                a.nav-link.disabled(href='/login') Login
            else
              li.nav-item
                a.nav-link(href='/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/newuser') Criar conta
            li.nav-item
              a.nav-link.disabled(href='/login') Login

    //.container-fluid
    block content
    //footer
    footer.page-footer.font-small.blue.pt-4
      .container-fluid.text-center.text-md-left
        .row
          .col-md-1
          .col-md-5
            h4.footer-brand EVENTOP
            p.texto-branco Plataforma de Shows
            br
            p.texto-branco © 2018 ELDUO. All Rights Reserved.
          .col-md-3
            h3.texto-branco Links
            ul.list-unstyled
              li
                a.link-footer(href='/') Eventos
              li
                a.link-footer(href='/newevent') Publicar evento
              li
                a.link-footer(href='/login') Login
              li
                a.link-footer(href='/newuser') Criar conta
          .col-md-2
            h3.texto-branco Contato
            br
            p.texto-branco ehirt@inf.ufsm.br
            p.texto-branco vteixeira@inf.ufsm.br


// Scripts
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/jquery.scrolly.min.js')
script(src='/assets/js/jquery.poptrox.min.js')
//script(src='/assets/js/skel.min.js')
script(src='/assets/js/util.js')
script(src='/assets/js/main.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')

