extends layout

block content
  #page-login
    h1 Login
    .container-fluid.margin-top
      .row
        div.col-md-4
        div.col-md-4.main-div
          .row
            div.col-md-1
            div.col-md-10
              form(role='form', action="/login",method="post", style='max-width: 300px;')
                .form-group
                  label(for='formGroupExampleInput') Usuario
                  input.form-control(type='text', name="username", placeholder='')
                .form-group
                  label(for='formGroupExampleInput') Senha
                  input.form-control(type='password', name="password", placeholder='')
                button.btn.btn-primary(type='submit') Login
            div.col-md-1
        div.col-md-4