extends layout

block content
  h1.home Publicar evento
  #publicar-evento
    form.form-horizontal(name="addevento",method="post",action="/show/register")
      fieldset
        #form-evento
          .row
            .col-md-8
              // Nome do evento
              .form-group.row
                label.col-md-3.control-label(for='textinput') Nome do evento
                .col-md-9
                  input#textinput.form-control.input-md(name='textinput', placeholder='', required='', type='text')
              // Descricao
              .form-group.row
                label.col-md-3.control-label(for='descricao') Descrição do evento
                .col-md-9
                  textarea#descricao.form-control(name='descricao')
              // Banda
              .form-group.row
                label.col-md-3.control-label(for='banda') Descrição do evento
                .col-md-9
                  textarea#banda.form-control(name='banda')
              // Limite de pessoas
              .form-group.row
                label.col-md-3.control-label(for='limit') Limite de pessoas
                .col-md-3
                  input#limit.form-control.input-md(name='limit', placeholder='', required='', type='text')
            .col-md-4
              #publicar-evento-guia-nome
                h4 Nome e descrição
          hr
          #data-evento
            .row
              .col-md-8
                // Data inicio
                .form-group.row
                  label.col-md-3.control-label(for='inicio') Início
                  .col-md-5
                    input#inicio.form-control.input-md(name='inicio', placeholder='', required='', type='date')
                  // Hora inicio
                  label.col-md-1.control-label(for='horaInicio') Hora
                  .col-md-3
                    input#horaInicio.form-control.input-md(name='horaInicio', placeholder='', required='', type='time')
                // Data termino
                .form-group.row
                  label.col-md-3.control-label(for='termino') Término
                  .col-md-5
                    input#termino.form-control.input-md(name='termino', placeholder='', required='', type='date')
                  // Hora termino
                  label.col-md-1.control-label(for='horaTermino') Hora
                  .col-md-3
                    input#horaTermino.form-control.input-md(name='horaTermino', placeholder='', required='', type='time')
              .col-md-4
                #publicar-evento-guia-data
                  h4 Data
          hr
          #local-evento
            .row
              .col-md-8
                // Local
                .form-group.row
                  label.col-md-3.control-label(for='local') Local
                  .col-md-9
                    input#local.form-control.input-md(name='local', placeholder='', required='', type='text')
                // CEP
                .form-group.row
                  label.col-md-3.control-label(for='cep') CEP
                  .col-md-9
                    input#cep.form-control.input-md(name='cep', placeholder='', type='text')
                // Rua
                .form-group.row
                  label.col-md-3.control-label(for='rua') Av/Rua
                  .col-md-9
                    input#rua.form-control.input-md(name='rua', placeholder='', required='', type='text')
                // Numero
                .form-group.row
                  label.col-md-3.control-label(for='numero') Número
                  .col-md-9
                    input#numero.form-control.input-md(name='numero', placeholder='', required='', type='text')
                // Complemento
                .form-group.row
                  label.col-md-3.control-label(for='complemento') Complemento
                  .col-md-9
                    input#complemento.form-control.input-md(name='complemento', placeholder='', type='text')
                // Bairro
                .form-group.row
                  label.col-md-3.control-label(for='bairro') Bairro
                  .col-md-9
                    input#bairro.form-control.input-md(name='bairro', placeholder='', required='', type='text')
                // Cidade
                .form-group.row
                  label.col-md-3.control-label(for='cidade') Cidade
                  .col-md-9
                    input#cidade.form-control.input-md(name='cidade', placeholder='', required='', type='text')
                // Estado
                .form-group.row
                  label.col-md-3.control-label(for='estado') Estado
                  .col-md-5
                    select#estado.form-control(name='estado')
                      option(value='') AC
                      option(value='') AL
                      option(value='') AP
                      option(value='') AM
                      option(value='') BA
                      option(value='') CE
                      option(value='') DF
                      option(value='') ES
                      option(value='') GO
                      option(value='') MA
                      option(value='') MT
                      option(value='') MS
                      option(value='') MG
                      option(value='') PA
                      option(value='') PB
                      option(value='') PR
                      option(value='') PI
                      option(value='') RJ
                      option(value='') RN
                      option(value='') RS
                      option(value='') RO
                      option(value='') RR
                      option(value='') SC
                      option(value='') SP
                      option(value='') SE
                      option(value='') TO
              .col-md-4
                #publicar-evento-guia-local
                  h4 Local      
        .row
          .col-md-2
          .col-md-3
            button.btn.btn-primary.mb-4.btn-block(type="submit") Publicar

