extends layout

block content
  #publicar-evento
    h1 Publicar evento
    form.form-horizontal
      fieldset
        #form-evento
          .row
            .col-md-8
              // Nome do evento
              .form-group.row
                label.col-md-3.control-label(for='textinput') Nome do evento
                .col-md-9
                  input#textinput.form-control.input-md(name='textinput', placeholder='', required='', type='text')
              // Descricao
              .form-group.row
                label.col-md-3.control-label(for='evento-descricao') Descrição do evento
                .col-md-9
                  textarea#evento-descricao.form-control(name='evento-descricao')
            .col-md-4
              #publicar-evento-guia-nome
                h4 Nome e descrição
          hr
          #data-evento
            .row
              .col-md-8
                // Data inicio
                .form-group.row
                  label.col-md-3.control-label(for='evento-inicio') Início
                  .col-md-5
                    input#evento-inicio.form-control.input-md(name='evento-inicio', placeholder='', required='', type='date')
                  // Hora inicio
                  label.col-md-1.control-label(for='evento-horaInicio') Hora
                  .col-md-3
                    input#evento-horaInicio.form-control.input-md(name='evento-horaInicio', placeholder='', required='', type='time')
                // Data termino
                .form-group.row
                  label.col-md-3.control-label(for='evento-termino') Término
                  .col-md-5
                    input#evento-termino.form-control.input-md(name='evento-termino', placeholder='', required='', type='date')
                  // Hora termino
                  label.col-md-1.control-label(for='evento-horaTermino') Hora
                  .col-md-3
                    input#evento-termino.form-control.input-md(name='evento-horaTermino', placeholder='', required='', type='time')
              .col-md-4
                #publicar-evento-guia-data
                  h4 Data
          hr
          #local-evento
            .row
              .col-md-8
                // Local
                .form-group.row
                  label.col-md-3.control-label(for='evento-local') Local
                  .col-md-9
                    input#evento-local.form-control.input-md(name='evento-local', placeholder='', required='', type='text')
                // CEP
                .form-group.row
                  label.col-md-3.control-label(for='evento-cep') CEP
                  .col-md-9
                    input#evento-cep.form-control.input-md(name='evento-cep', placeholder='', type='text')
                // Rua
                .form-group.row
                  label.col-md-3.control-label(for='evento-rua') Av/Rua
                  .col-md-9
                    input#evento-rua.form-control.input-md(name='evento-rua', placeholder='', required='', type='text')
                // Numero
                .form-group.row
                  label.col-md-3.control-label(for='evento-numero') Número
                  .col-md-9
                    input#evento-numero.form-control.input-md(name='evento-numero', placeholder='', required='', type='text')
                // Complemento
                .form-group.row
                  label.col-md-3.control-label(for='evento-complemento') Complemento
                  .col-md-9
                    input#evento-complemento.form-control.input-md(name='evento-complemento', placeholder='', type='text')
                // Bairro
                .form-group.row
                  label.col-md-3.control-label(for='evento-bairro') Bairro
                  .col-md-9
                    input#evento-bairro.form-control.input-md(name='evento-bairro', placeholder='', required='', type='text')
                // Cidade
                .form-group.row
                  label.col-md-3.control-label(for='evento-cidade') Cidade
                  .col-md-9
                    input#evento-cidade.form-control.input-md(name='evento-cidade', placeholder='', required='', type='text')
                // Estado
                .form-group.row
                  label.col-md-3.control-label(for='evento-estado') Estado
                  .col-md-5
                    select#evento-estado.form-control(name='evento-estado')
                      option(value='') AC
                      option(value='') AL
                      option(value='') AP
                      option(value='') AM
                      option(value='') BA
                      option(value='') CE
                      option(value='') DF
                      option(value='') ES
                      option(value='') GO
                      option(value='') MA
                      option(value='') MT
                      option(value='') MS
                      option(value='') MG
                      option(value='') PA
                      option(value='') PB
                      option(value='') PR
                      option(value='') PI
                      option(value='') RJ
                      option(value='') RN
                      option(value='') RS
                      option(value='') RO
                      option(value='') RR
                      option(value='') SC
                      option(value='') SP
                      option(value='') SE
                      option(value='') TO
              .col-md-4
                #publicar-evento-guia-local
                  h4 Local      
        .row
          .col-md-2
          .col-md-3
            button.btn.btn-primary.mb-4.btn-block(type="submit") Publicar

