extends layout

block content
  .criar-conta
    h1= title
    .container-fluid.margin-top
      .row
        div.col-md-4
        div.col-md-4
          form#formAddUser(name="adduser",method="post",action="/adduser")
            .form-group
              label(for='formGroupExampleInput') Username
              input#inputUserName.form-control(type="text", placeholder="username", name="username")
              br
              label(for='formGroupExampleInput') Email
              input#inputUserEmail.form-control(type="text", placeholder="useremail", name="useremail")
              
            button#btnSubmit.btn.btn-primary.mb-2(type="submit") Criar conta
        div.col-md-4
    //- 
      h1= title
      form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        button#btnSubmit(type="submit") submit