doctype html
//
  Full Motion by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title Full Motion
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
  body#top
    // Banner
    //
      To use a video as your background, set data-video to the name of your video without
      its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
      formats to work correctly.
    section#banner(data-video='images/banner')
      .inner
        header
          h1 Full Motion
          p
            | A responsive video gallery template with a functional lightbox
            br
            | 							designed by 
            a(href='https://templated.co/') Templated
            |  and released under the Creative Commons License.
        a.more(href='#main') Learn More
    // Main
    #main
      .inner
        // Boxes
        .thumbnails
          .box
            a.image.fit(href='https://youtu.be/s6zR2T9vn2c')
              img(src='images/pic01.jpg', alt='')
            .inner
              h3 Nascetur nunc varius commodo
              p
                | Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.
              a.button.fit(href='https://youtu.be/s6zR2T9vn2c', data-poptrox='youtube,800x400') Watch
          .box
            a.image.fit(href='https://youtu.be/s6zR2T9vn2c')
              img(src='images/pic02.jpg', alt='')
            .inner
              h3 Nascetur nunc varius commodo
              p
                | Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.
              a.button.style2.fit(href='https://youtu.be/s6zR2T9vn2c', data-poptrox='youtube,800x400') Watch
          .box
            a.image.fit(href='https://youtu.be/s6zR2T9vn2c')
              img(src='images/pic03.jpg', alt='')
            .inner
              h3 Nascetur nunc varius commodo
              p
                | Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.
              a.button.style3.fit(href='https://youtu.be/s6zR2T9vn2c', data-poptrox='youtube,800x400') Watch
          .box
            a.image.fit(href='https://youtu.be/s6zR2T9vn2c')
              img(src='images/pic04.jpg', alt='')
            .inner
              h3 Nascetur nunc varius commodo
              p
                | Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.
              a.button.style2.fit(href='https://youtu.be/s6zR2T9vn2c', data-poptrox='youtube,800x400') Watch
          .box
            a.image.fit(href='https://youtu.be/s6zR2T9vn2c')
              img(src='images/pic05.jpg', alt='')
            .inner
              h3 Nascetur nunc varius commodo
              p
                | Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.
              a.button.style3.fit(href='https://youtu.be/s6zR2T9vn2c', data-poptrox='youtube,800x400') Watch
          .box
            a.image.fit(href='https://youtu.be/s6zR2T9vn2c')
              img(src='images/pic06.jpg', alt='')
            .inner
              h3 Nascetur nunc varius commodo
              p
                | Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.
              a.button.fit(href='https://youtu.be/s6zR2T9vn2c', data-poptrox='youtube,800x400') Watch
    // Footer
    footer#footer
      .inner
        h2 Etiam veroeros lorem
        p
          | Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis.
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-envelope(href='#')
              span.label Email
        p.copyright
          | © Untitled. Design: 
          a(href='https://templated.co') TEMPLATED
          | . Images: 
          a(href='https://unsplash.com/') Unsplash
          | . Videos: 
          a(href='http://coverr.co/') Coverr
          | .
    // Scripts
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrolly.min.js')
    script(src='/assets/js/jquery.poptrox.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')
