extends layout

block content
  .user-list
    h1.
      Show Page
    div #{show.name}
      div
        form.form-horizontal(name="buy",method="post",action="/show/#{show.id}/buy")  
          if (session.passport != undefined)
            if (session.passport.user != undefined)
              each user in session.passport.user
                div #{user.name}
                if (show.bought.includes(user._id))
                  p Cadastrado no Show!
                else
                  button(type="submit") Cadastrar no show
            
