extends layout

block content
  .user-list
    h1.
      Show Page
    div #{show.name}
      div
        form.form-horizontal(name="buy",method="post",action="/show/#{show.id}/buy")

          if (show.bought.includes(user))
            p Cadastrado no Show!
            
          else
            button(type="submit") Cadastrar no show
            p #{user}
