extends layout

block content
  #sys
    h1 Sobre o Eventop
    .container
      .row
        .col-md-2
        .col-md-8.main-div
          
          h3.sys O problema
          p Bandas querem cadastrar seus shows na web e tem plataformas escassas de recursos, com uma acessibilidade ruim tanto para a banda quanto para quem está comprando o ingresso, painel administrativo sem muitas informações e sem espaço para utilizar um promoter, que auxilia em marketing e vendas.
          br
          h3.sys Nossa solução
          p Nossa solução é um sistema Web de venda de ingressos e gestão de shows. Ele atua facilitando 3 vias: o criador do show, o público e o promoter no meio termo.
        .col-md-2
