extends layout

block content
  h4 Teste 1: Criar conta
  
  h4 Teste 2: Login com a nova conta

  h4 Teste 3: Sair da conta

  h4 Teste 4: Criar um evento

  h4 Teste 5: Ache a festa a fantasia

  h4 Teste 6: Cadastre-se em algum evento

  a(href="https://goo.gl/forms/ozlOsrU6aOHUqNis1") FORMULÁRIO DE TESTES
  