extends layout

block content
  #test
    h1 Testes Eventop
    .container
      .row
        .col-md-2
        .col-md-8.main-div
          h5.test Teste 1
          p Criar conta
          hr
          h5.test Teste 2
          p Login com a nova conta
          hr
          h5.test Teste 3
          p Sair da conta
          hr
          h5.test Teste 4
          p Criar um evento
          hr
          h5.test Teste 5
          p Ache a festa à fantasia
          hr
          h5.test Teste 6
          p Cadastre-se em algum evento
          hr
          a.link-test(href="https://goo.gl/forms/ozlOsrU6aOHUqNis1")  Link FORMULÁRIO DE TESTES
        .col-md-2
  